
<mat-card *ngIf="pokemons">
    <mat-grid-list cols="2" rowHeight="2:1">
        <button routerLink=".."><mat-icon>arrow_back_ios</mat-icon></button>
    <mat-grid-tile>
        <div>
        <img mat-card-lg-image src="assets/img/official-artwork/{{ pokemons.id }}.png">
        <div><span>No. </span>{{ pokemons.id | number:'3.0-1' }}</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-list role="list">
        <mat-list-item role="listitem">
            <mat-card-title>{{ pokemons.name }}</mat-card-title>
            <button mat-icon-button (click)= "audio.play()"><mat-icon>play_circle</mat-icon></button>
        </mat-list-item>
        <mat-list-item role="listitem"><audio autoplay #audio src="assets/audio/{{pokemons.id}}.mp3"></audio></mat-list-item>
        <mat-list-item role="listitem">

            <mat-form-field>
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let pk of pokemons.types">
                    {{ pk }}
                </mat-chip>
            </mat-chip-list>
            <input [matChipInputFor]="chipList">
            </mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem"><mat-card-title><span>Taille: </span>{{ pokemons.height | number:'1.1-2' }}<span> m</span></mat-card-title></mat-list-item>
        <mat-list-item role="listitem"><mat-card-title><span>Poids: </span>{{ pokemons.weight | number:'2.1-2'}}<span> kg</span></mat-card-title></mat-list-item>

        </mat-list>

    </mat-grid-tile>

    <mat-grid-tile colspan="2">
        <div><span>{{ pokemons.description }}</span></div>
    </mat-grid-tile>
    </mat-grid-list>

</mat-card> 


      